@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  background-color: #fff;
  text-align: center;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.main {
  width: 1440px;
  text-align: left;
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
