@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  width: 100%;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: hsl(230, 17%, 14%);
  text-align: left;
}
